body {
  font-family: Tahoma, Geneva, sans-serif;
  background-color: black !important;
  color: white !important;
  
}
table {
  margin: 0px;
  padding: 0px;
  width: 100%;
  border: 0px;
  border-collapse:collapse;
  font-size: 14px;
}

#min_max tr td {
  border: 1px solid black;
  background-color: gray;
}

table td {
  text-align: center;
}
table #time {
  width: 20%;
}
table #price {
  width: 40%;
  text-align: left;
  padding-left: 7%;
}
table #bitstamp {
  width: 25%;
  text-align: left;
  padding-left: 3%;
}
table #volume {
  padding-right: 3%;
  text-align: right;
}

.zero {
  color: gray;
}
.max {
  color: #72bf44;

}
.min {
  color: red;
}
.large_amount {
  color: green;
  font-weight: bold;
}
.green {
  background-color: #72bf44;
}

/*Chart*/

.axis line,
.axis path {
  fill: none;
  stroke: gray;
  shape-rendering: optimizeSpeed;
}

.timestamp path {
  fill: none;
  stroke-width: 0px;

}

.arrow {
  stroke: #fff;
  stroke-width: 1.5px;
}

.outer,
.inner {
  shape-rendering: optimizeSpeed;
}


.chart {
  color: #fff;
  font: 10px sans-serif;
  fill: #fff;
}

rect.green {
  fill: rgb(76, 214, 15);
  
/*
  fill: black;
*/  
  stroke-width:1;
  stroke: rgb(76, 214, 15);

}

rect.red {
  fill: rgb(224,31,38);
  stroke-width:1;
  stroke: rgb(224,31,38);
}


rect.green_volume {
  fill: rgb(76, 214, 15);
  opacity: 0.3;

}

rect.red_volume {
  fill: rgb(224, 31, 38);
  opacity: 0.3;
}


line.green {
  stroke: rgb(76, 214, 15);
  stroke-width: 1;
  stroke-linecap: square;
}

line.red {
  stroke: rgb(224, 31, 38);
  stroke-width: 1;
  stroke-linecap: square;
}

path.sma10 {

  fill: none;
  stroke: rgb(142, 176, 196);
  stroke-width: 1;
  shape-rendering: optimizeSpeed;
}

path.sma50 {

  fill: none;
  stroke: rgb(231, 175, 101);
  stroke-width: 1;
  shape-rendering: optimizeSpeed;
}

path.sma100 {

  fill: none;
  stroke: rgb(214, 133, 214);
  stroke-width: 1;
  shape-rendering: optimizeSpeed;
}

.overlay {
  fill: none;
  pointer-events: all;
}

line.indicator_x {
  stroke: white;
  stroke-width: 0.5;
  stroke-linecap: square;
}

line.indicator_y {
  stroke: white;
  stroke-width: 0.5;
  stroke-linecap: square;
}

rect.price_indicator {
  fill: black;
  stroke-width:1;
  stroke: white;
}

svg {
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}

#graph_type {
  font-size: 10px;
}

.disable {
  color: gray;
}

.enable {
  color: white;
}

/*HTML*/




@media only screen and (max-device-width : 768px) {
  #info-btn {
    right: 0px;
    margin-left: 3px;
    margin-right: 3px;
    height: 20px;
    width: 41;
  }

  div.row {
    position: relative;
  }

  div.up {
    position: absolute;
    top: 0px;
    display: block;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  div.down {
    padding: 0px 0px 0px 0px !important;
  }
  
  
}

@media only screen and (min-width : 321px) and (max-width : 768px) {
  #info-btn {
    height: 20px;
    width: 41;
  }
}

@media only screen and (min-width : 768px) {
  #info-modal {
    margin-bottom: 4px;
  }
  
  div.row {
    position: relative;
  }
  div.left {
    padding-right: 140px !important;  
  }
  div.rightside {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 140px;
    padding-left: 0px !important;
  }

  info-modal {
    margin-bottom: 5px; 
  }
}

div.info {
    padding-bottom:3px !important;
  }

div.footer {
  bottom: 0px;
  margin:10px 0px 50px 0px; 
  text-align: center; 
  font-size:12px;
}

.modal-title {
  color: black;
}

.modal-body {
  color: black;
}

a.white {
  color: white;
}


/*BOOTSTRAP*/
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #4f4f4f;
}

.table > tbody > tr > td {
  border-top: 1px solid #303030;
}

.popover-title{
  background: tomato;

}
.popover {
  background: tomato;
}

.container {
  margin: auto;
  padding: 0px;
}

.row {
  margin: 0px;
}

.btx-xs {
  border-radius: 2px;
}
