body {
  font-family: Tahoma, Geneva, sans-serif;

  background-color: black !important;
  color: white !important;
  margin: 0px;
  padding: 0px;

}
table {
  margin: 0px;
  padding: 0px;
  width: 100%;
  border: 0px;
  border-collapse:collapse;
  font-size: 15px;
}

#min_max tr td {
  border: 1px solid black;
  background-color: gray;
}

table td {
  text-align: center;
}
table #time {
  width: 20%;
}
table #price {
  width: 40%;
  text-align: left;
  padding-left: 7%;
}
table #bitstamp {
  width: 25%;
  text-align: left;
  padding-left: 3%;
}
table #volume {
  padding-right: 3%;
  text-align: right;
}

.zero {
  color: gray;
}
.max {
  color: #72bf44;

}
.min {
  color: red;
}
.large_amount {
  color: red;
  font-weight: bold;
}

.green {
  background-color: #72bf44;
}



.axis line,
.axis path {
  fill: none;
  stroke: #fff;
  shape-rendering: crispEdges;
}

.arrow {
  stroke: #fff;
  stroke-width: 1.5px;
}

.outer,
.inner {
  shape-rendering: crispEdges;
}

.outer {
  fill: none;
  stroke: #fff;
}

.inner {
  fill: #ccc;
  stroke: #fff;
  stroke-dasharray: 3, 4;
}

.chart {
  color: #fff;
  font: 10px sans-serif;
  fill: #fff;
}

rect.green {
  fill: black;
  stroke-width:1;
  stroke: rgb(76, 214, 15);
}

rect.red {
  fill: rgb(224,31,38);
}

line.current_volume {
  stroke: white;
  stroke-width: 1;
}


.overlay {
  fill: none;
  pointer-events: all;
}

line.indicator_x {
  stroke: white;
  stroke-width: 0.5;
}

line.indicator_y {
  stroke: white;
  stroke-width: 0.5;
}

rect.price_indicator {
  fill: black;
  stroke-width:1;
  stroke: white;
}

svg {
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
}

div.fb {
  margin-bottom: 10px;
}

a:link {
  color: white;
}

div.footer {
  margin:10px 0px 0px 0px;
  padding: 0px 7.5px; 
  text-align: center; 
  font-size:11px;
}


#info-btn {
  float: left !important;
  margin-left: 5px;
  margin-right: 5px;
}

.popover-title{
  background: tomato;

}
.popover {
  background: tomato;
}


/*BOOTSTRAP*/

.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #4f4f4f;
}

